html {
    background: green;
}
h1 { 
    color: yellow;
    font-size: 50px;
}
h2 {
    color: yellow;
    font-size: 40px;
}
h3 {
    color: yellow;
    font-size: 30px;
}
p {
    color: yellow;
    font-size: 20px;
}
a {
    color: yellow;
}